extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			h1 MRs submissions
			if !data.mmdrs
				h3.text-muted Error. No results.
			else
				table(class="pure-table")
					thead
						tr
							th Group ID
							th 
							th 
							th State
					tbody
					for mmdr in data.mmdrs
						tr
							td= mmdr
							td
								a(href='/checkgui/'+mmdr+'?results=mmdrt') View results
							td
								a(href='/checkgui/'+mmdr+'?results=mmdrv') Verify MMDRs
							td 