extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.mmdr
				h2 Invalid Post.
			else
				header
					h1= data.mmdr.mrdid
					h5 Posted 
						div= data.mmdr.accountproduct
